.parent{
    -fx-background-color: #e1e1e1;
}
.slider{
    -fx-background-color: white;
}
.buttonTaskbar:hover{
    -fx-background-color: rgba(91, 243, 232, 0.4);
    -fx-border-width: 0 0 0 3;
    -fx-border-color: #5bf3e8;
}
.word{
    -fx-font-size: 20;
}
.buttonTaskbar:selected{
    -fx-border-width: 0 0 0 3;
    -fx-border-color: #5bf3e8;
}